@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Open Sans', sans-serif;
  }

  button {
    cursor: pointer;
  }

  button, input {
    font-size: 16px;
  }
}
